<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <div class="containerForm">
        <form method="POST" class="formLogin">
            {% csrf_token %}
            <h2 class="formTitle">Cambiar Contraseña</h2>

            {% if form.old_password.errors %}
            <p class="formError">La contraseña actual es incorrecta. Por favor, verifica tu contraseña.</p>
            {% else %}
            {% if form.new_password1.value and form.new_password1.value != form.new_password2.value %}
                <p class="formError">Las contraseñas no coinciden. Por favor, asegúrate de ingresar la misma contraseña en ambos campos.</p>
            {% endif %}
        {% endif %}

            
            {{ form.non_field_errors }}

            <div class="formGroup">
                <label for="{{ form.old_password.id_for_label }}" class="formLabel">Contraseña actual:</label>
                {{ form.old_password }}
            </div>
            <div class="formGroup">
                <label for="{{ form.new_password1.id_for_label }}" class="formLabel">Nueva Contraseña:</label>
                {{ form.new_password1 }}
            </div>
            <div class="formGroup">
                <label for="{{ form.new_password2.id_for_label }}" class="formLabel">Confirmar Nueva Contraseña:</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="formButton">Cambiar Contraseña</button>
        </form>
    </div>
</body>
</html>


