<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <script src="{% static 'Users/js/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body class="loginBody">
    <div class="containerForm">
        <form method="POST" class="formLogin">
            {% csrf_token %}
            <h2 class="formTitle">Change Password</h2>

            {% if form.non_field_errors %}
                <p class="formError">{{ form.non_field_errors }}</p>
            {% endif %}

            <div class="formGroupRegister">
                <label for="{{ form.old_password.id_for_label }}" class="formLabel">Contraseña actual:</label>
                {{ form.old_password }}
                {% if form.old_password.errors %}
                    <p class="formError">{{ form.old_password.errors }}</p>
                {% endif %}
            </div>
            <div class="formGroupRegister">
                <label for="{{ form.new_password1.id_for_label }}" class="formLabel">Nueva Contraseña:</label>
                {{ form.new_password1 }}
            </div>
            <div class="formGroupRegister">
                <label for="{{ form.new_password2.id_for_label }}" class="formLabel">Confirmar Nueva Contraseña:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <p class="formError">{{ form.new_password2.errors }}</p>
                {% endif %}
            </div>
            <button type="submit" class="formButton">Cambiar Contraseña</button>
        </form>
    </div>
</body>
</html>



