<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="{% static 'Users/js/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOTOBLOG</title>
</head>
<body>
    <div class="containerForm">
        <form action="" method="POST" class="formLogin"> {% csrf_token %}
            <h3 style="color:white; font-weight: bold; margin-bottom: 30px; display:flex; justify-content: center; align-items: center">LOGIN MOTOBLOG</h3>
            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            {% if error %}
            <p style="color: red">{{error}}</p>
            {% endif %}
            <p class="text-center" style="color: white">¿Aún no tienes una cuenta?</p>
            <p class="text-center"><a href="{% url 'myRegistry' %}">Registrate</a></p>
        </form>
    </div>    
</body>
</html>