<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <script src="{% static 'Users/js/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <div class="containerForm">
        <form method="POST" enctype="multipart/form-data" class="formLogin">
            {% csrf_token %}
            <h2 class="formTitle">Perfil de Usuario</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="formGroup">
                <label for="{{ form.username.id_for_label }}" class="formLabel">Usuario:</label>
                {{ form.username }}
            </div>
            <div class="formGroup">
                <label for="{{ form.email.id_for_label }}" class="formLabel">Correo electrónico:</label>
                {{ form.email }}
            </div>            
            <div class="formGroup">
                <label for="{{ form.avatar.id_for_label }}" class="formLabel">Avatar:</label>
                <div class="avatarContainer">
                    {{ form.avatar }}
                    <img src="{{ profile.avatar.url }}" alt="Avatar" class="avatarImage">
                </div>
            </div>
            <div class="formGroup">
                <label for="{{ form.first_name.id_for_label }}" class="formLabel">Nombre:</label>
                {{ form.first_name }}
            </div>
            <div class="formGroup">
                <label for="{{ form.last_name.id_for_label }}" class="formLabel">Apellido:</label>
                {{ form.last_name }}
            </div>
            <div class="formGroup">
                <label for="{{ form.description.id_for_label }}" class="formLabel">Descripción:</label>
                {{ form.description }}
            </div>
            <div class="formGroup">
                <label for="{{ form.website.id_for_label }}" class="formLabel">Enlace a página web:</label>
                {{ form.website }}
            </div>
            <button type="submit" class="formButton">Guardar cambios</button>
            {{ form.non_field_errors }}
        </form>
        <hr class="formSeparator">
        <h3 class="formSectionTitle" style="margin-bottom: 20px;">Opciones de Perfil</h3>        
        <a href="{% url 'changePassword' %}" class="changePasswordButton">Cambiar Contraseña</a></p>
        <a href="{% url 'deleteUser' %}" class="deleteUserButton">Eliminar usuario</a>
    </div>
</body>
</html>