<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'Users/css/styles.css' %}" rel="stylesheet"/>
    <link href="{% static 'Users/css/main.css' %}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="{% static 'Users/js/scripts.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body class="loginBody">
    <div class="containerFormRegister">
        <form action="" method="POST" class="formLogin">
            {% csrf_token %}
            <h3 class="formTitle">Create your free account</h3>
            <div class="formGroupRegister">
                <label for="{{ form.username.id_for_label }}" class="formLabelRegister">Usuario:</label>
                <input type="{{ form.username.field.widget.input_type }}" name="{{ form.username.name }}" placeholder="Ingrese su usuario" class="">
            </div>
            <div class="formGroupRegister">
                <label for="{{ form.email.id_for_label }}" class="formLabelRegister">Correo electrónico:</label>
                <input type="{{ form.email.field.widget.input_type }}" name="{{ form.email.name }}" placeholder="Ingrese su correo electrónico" class="">                
            </div>
            <div class="formGroupRegister">
                <label for="{{ form.password1.id_for_label }}" class="formLabelRegister">Contraseña:</label>                
                <input type="password" name="{{ form.password1.name }}" placeholder="Ingrese su contraseña" class="">
            </div>
            <div class="formGroupRegister">
                <label for="{{ form.password2.id_for_label }}" class="formLabelRegister">Confirmar contraseña:</label>
                <input type="{{ form.password2.field.widget.input_type }}" name="{{ form.password2.name }}" placeholder="Confirme su contraseña" class="">
            </div>
            <button type="submit" class="formButton">Registrate</button>
        </form>
    </div>
</body>
</html>


