{% extends "index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<body>
    <div class="container py-4">
      <h1>Acerca MOTOBLOG.</h1>
      </br>
      <p>Bienvenidos a MOTOBLOG, un espacio dedicado a las motos. Aquí encontrarás reseñas detalladas y fichas técnicas de diversas motos, para que puedas conocer en profundidad los modelos más populares y descubrir nuevas opciones.</p>
      </br>
      <h2>¿Qué ofrecemos?</h2>
      <p>En nuestro blog, encontrarás reseñas completas que incluyen aspectos como el diseño, el rendimiento, la tecnología y las características destacadas de diferentes motocicletas. Además, proporcionamos fichas técnicas detalladas que te permitirán comparar diferentes modelos y evaluar qué motocicleta se adapta mejor a tus necesidades y preferencias.</p>
      </br>
      <h2>¿Quiénes somos?</h2>
      <p>Somos un equipo apasionado por las motos, compuesto por entusiastas y expertos en el campo. Nuestra misión es brindarte información precisa y actualizada sobre las motocicletas, para que puedas tomar decisiones informadas al elegir tu próxima montura.</p>
      </br>      
      <div class="container">
        <h4>Roman Valverde</h4>
        <p>Un apasionado analista en ciberseguridad con experiencia previa como sysadmin. Con 26 años de edad, he encontrado mi vocación en el campo de la seguridad informática y me dedico a proteger sistemas y datos contra amenazas digitales. Actualmente, resido en la hermosa ciudad de Buenos Aires (CABA).</p>
        </br>
        <h4>Gabriel Aquino</h4>
        <p>Un entusiasta de la tecnología y DevOps con 28 años de edad. Llevo trabajando como analista DevOps durante los últimos 4 años y disfruto de la creación de entornos de desarrollo ágiles y automatizados. Vivo en la zona oeste del Gran Buenos Aires (GBA).</p>
        </br>
      </div>
      <h4>Curso de Python & Django</h4>
      <p>Ambos, Roman Valverde y Gabriel Aquino, formamos parte de la Comisión 54485 del curso de Python & Django en Coderhouse. Estamos emocionados de ampliar nuestros conocimientos en desarrollo web utilizando estas poderosas tecnologías y esperamos aplicar lo aprendido en proyectos futuros.</p>
      </br>
      <h5>¡Esperamos que disfrutes de nuestro blog y que encuentres la información que buscas para alimentar tu pasión por las motos!</h5>
      </br>
    </div>
  </body>
  </html>

{% endblock %}